$color__background-body: linear-gradient(to bottom right, #311a54, #000000);
$color__background-sticky-nav: rgba(20,10,33,.9);

$color__text-title-small: #ca99ff;
$color__text-title-big: white;
$color__text-body: #ca99ff;
$color__logo-tagline: white;
$color__footer-divider: #411d70;

$color__highlight-button: #f74354;
$color__highlight-button-hover: #da3545;

$color__link-menu: white;
$color__link: #27e2b6;
$color__link-visited: #14b5f4;
$color__link-hover: #14b5f4;

$color__border-button: white;
$color__bg-button-hover: rgba(255,255,255,.3);

$color__button-social: white;
