@import "https://fonts.googleapis.com/css?family=Montserrat:300|Oswald:300";
$font__main: 'Montserrat', times, sans-serif;
$font__title_nav: 'Oswald', "times new roman" , helvetica, sans-serif;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;


html {font-size: 1em;}

body {
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

button {font-size: 1.2em;}

small, .font_small {font-size: 0.75em;}


// IcoMoon
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?64hpjq');
  src:  url('../fonts/icomoon/icomoon.eot?64hpjq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?64hpjq') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?64hpjq') format('woff'),
    url('../fonts/icomoon/icomoon.svg?64hpjq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

a[href*='instagram']:before, a[href*='twitter'] , a[href*='youtube']{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a[href*='instagram']:before {
  content: "\ea92";
}
a[href*='twitter']:before {
  content: "\ea96";
}
a[href*='youtube']:before {
  content: "\ea9d";
}
